TrainingServer/src/main/webapp/schemas/Login.xsd

<?xml version="1.0" encoding="UTF-8"?>  
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservice.web.javateam.info" 
   targetNamespace="http://webservice.web.javateam.info" elementFormDefault="qualified" attributeFormDefault="unqualified">  
      <xs:element name="Login" type="Login"/>  
      <xs:complexType name="Login">  
           <xs:sequence>  
                <xs:element name="userName" type="xs:string"/>  
                <xs:element name="password" type="xs:string"/>  
                <xs:element name="result"   type="xs:boolean"/>  
           </xs:sequence>  
      </xs:complexType>  
 </xs:schema>  